{% extends 'base.html' %}

{% block title %}Product List - Home Decor{% endblock %}

{% block content %}
<style>
    .product-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    
    .product-table th, .product-table td {
        padding: 15px;
        text-align: left;
        border: 1px solid #ddd;
    }
    
    .product-table th {
        background-color: #a57256;
        color: white;
    }
    
    .product-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    .product-table tr:hover {
        background-color: #f1f1f1;
    }
    
    /* Image Styling */
    .product-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 4px;
    }
    
    a.btn {
        padding: 5px 10px;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        margin-right: 10px;
        transition: background-color 0.3s;
    }
    
    a.btn-edit {
        background-color: #4CAF50;
    }
    
    a.btn-edit:hover {
        background-color: #45a049;
    }
    
    a.btn-list {
        background-color: #f44336;
    }
    
    a.btn-unlist{
        background-color: #da190b; 
    }
    
    a.btn-add {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        width:100px
    }
    
    a.btn-add:hover {
        background-color: #0b7dda;
    }
    td img {
        max-width: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
      }
</style>
<h1>Product List</h1>

<form method="GET" action="{% url 'products:product_list' %}">
    <input type="text" name="q" placeholder="Search by Product Name" value="{{ search_query }}">

    <select name="category">
        <option value="">All Categories</option>
        {% for category in categories %}
            <option value="{{ category.id }}" {% if selected_category|slugify == category.id|slugify %}selected{% endif %}>
                {{ category.name }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Search</button>
</form>

<a href="{% url 'products:add_product' %}" class="btn btn-add">Add</a>
<table class="product-table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Attributes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in page_obj %}
        <tr>
            <td>
                {% if product.image1 %}
                    <img src="{{ product.image1.url }}" alt="{{ product.name }}">
                {% else %}
                    <span>No Image</span>
                {% endif %}
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>₹{{ product.price }}</td>
            <td>
                {% if product.stock > 0 %}
                {{ product.stock }}
            {% else %}
                <span class="out-of-stock">Out of Stock</span>
            {% endif %}
                
                </td>
            <td>
                <strong>Colors:</strong>
                {% for attribute in product.attributes.all %}
                    {% if attribute.attribute_type == 'color' %}
                        {{ attribute.value }},
                    {% endif %}
                {% endfor %}
                <br>
                <strong>Materials:</strong>
                {% for attribute in product.attributes.all %}
                    {% if attribute.attribute_type == 'material' %}
                        {{ attribute.value }},
                    {% endif %}
                {% endfor %}
                <br>
                <strong>Sizes:</strong>
                {% for attribute in product.attributes.all %}
                    {% if attribute.attribute_type == 'size' %}
                        {{ attribute.value }},
                    {% endif %}
                {% endfor %}
            </td>
            <td>
<a href="{% url 'products:edit_product' product.id %}" class="btn btn-edit">Edit</a>
{% if product.is_active %}
    <a href="{% url 'products:unlist_product' product.id %}" class="btn btn-unlist">Unlist</a>
{% else %}
    <a href="{% url 'products:list_product' product.id %}" class="btn btn-list">List</a>
{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&q={{ search_query }}&category={{ selected_category }}">First</a>
            <a href="?page={{ page_obj.previous_page_number }}&q={{ search_query }}&category={{ selected_category }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&q={{ search_query }}&category={{ selected_category }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&q={{ search_query }}&category={{ selected_category }}">Last</a>
        {% endif %}
    </span>
</div>

{% endblock %}
